[mysqld]
socket = /var/run/mysqld/mysqld.sock
pid-file = /var/run/mysqld/mysqld.pid

default_authentication_plugin = caching_sha2_password
back_log = 500
max_connections = 3000
max_allowed_packet = 64M

log-error = /var/lib/mysql/error.log
general_log = 1
general_log_file = /var/lib/mysql/general.log
slow_query_log = 1
slow_query_log_file = /var/lib/mysql/slow.log
long_query_time = 1
log_slow_admin_statements = 1
log_queries_not_using_indexes = 1

interactive_timeout = 28800
wait_timeout = 28800
